body {
    margin: 60px auto;
    width: 80%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.imgDes {
  margin-left: 100px;
  overflow: hidden;
  text-align: justify;
}
.imgDes h3 {
  text-align: justify;
  font-size: 2.0em;
   margin: 0px 5px 0px 5px;
}

.imgDes p {
  text-align: justify;
  font-size: 1.0em;
   margin: 0px 5px 0px 5px;
}

.slide-content {
  width: 900px;
  height: 500px;
  background-position: 11px 0;
  background-repeat: no-repeat;
  margin: 0px 50px 0px 180px;
}

.image-cropper {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}
.profile-pic {
  display: inline;
  margin: 0 auto;
  margin-left: -25%; //centers the image
  height: 100%;
  width: auto;
}
