<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
				<li>|</li>
				<li><a href="/">About Me</a></li>
				<li>|</li>
				<li><a href="/research">Research</a></li>
				<li>|</li>
				<li><a href="/projects">Projects</a></li>
				</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
				<li><a href="mailto:minchulkim.phd@gmail.com">email</a></li>				
				<li><a href="https://drive.google.com/file/d/1Zqw9xqRgU81EpCHgJGPxwNIbrnAr99HO/view" target="_blank">my up-to-date CV</a></li>
				<li><a href="https://scholar.google.com/citations?hl=en&user=NVXlSt0AAAAJ&view_op=list_works&authuser=4&sortby=pubdate" target="_blank">my google scholar profile</a></li>
				<li><a href="https://www.researchgate.net/profile/Minchul_Kim7" target="_blank">my researchgate profile</a></li>
				</ul>
			</footer>
		</body>
	</html>
